.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 1rem;
  /* transition: transform 0.1s ease; */
  /* align-items: center; */
  /* justify-content: center; */
}

.embla__slide_jouney {
  flex: 0 0 100%; /* Two items on the screen */
  position: relative;
  /* align-items: center;
  justify-content: center; */
}

.embla__slide__img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}
