.embla_agri {
    max-width: 48rem;
    margin: auto;
    /* --slide-height: 100%; */
    --slide-spacing: 1rem;
    --slide-size: 50%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__img_agri {
    border-radius: 1.8rem;
    display: block;
    /* height: var(--slide-height); */
    height:'460px';
    width: 100%;
    object-fit: cover;
  }
  /* .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  } */
  .embla__parallax_agri {
    border-radius: 1.8rem;
    height: 100%;
    overflow: hidden;
  }
  .embla__parallax__layer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .embla__parallax__img_agri {
    max-width: none;
    flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
    object-fit: cover;
  }
  